<app-navbar></app-navbar>

<div class="pagina-explorar-full">
  <header class="header-principal">
    <div class="d-flex align-items-center gap-3">
      <h2>Explorar Talleres</h2>
      <ng-container *ngIf="tokenService.esAdmin">
        <div class="linea-vertical"></div>
        <button class="btn-azul-plus" (click)="abrirCreacion()">
          <i class="bi bi-plus-lg"></i> Nuevo Taller
        </button>
      </ng-container>
    </div>
  </header>

  <div class="layout-flex">
    <aside class="sidebar-reserva">
      <div class="info-sidebar">
        <h3>Filtrar talleres</h3>
        <p class="nota-sidebar">Configura tus preferencias.</p>
      </div>
      <form [formGroup]="filtroForm" class="form-filtros">
        <div class="grupo-filtro">
          <label><i class="bi bi-search"></i> Buscar</label>
          <input type="text" formControlName="texto" placeholder="Nombre..." class="form-control">
        </div>
        <div class="grupo-filtro">
          <label><i class="bi bi-currency-euro"></i> Precio Máx: {{filtroForm.get('precioMax')?.value}}€</label>
          <input type="range" formControlName="precioMax" min="0" max="500" step="10" class="form-range">
        </div>
        <div class="grupo-filtro">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="soloDisponibles" id="checkP">
            <label class="form-check-label" for="checkP">Solo con plazas</label>
          </div>
        </div>
        <button type="button" class="btn-limpiar" (click)="limpiarFiltros()">Limpiar filtros</button>
      </form>
    </aside>

    <main class="seccion-lista-cursos">
      <div class="alerta-vacia" *ngIf="talleresFiltrados.length === 0 && !cargando">
        <div class="contenedor-vacio">
          <i class="bi bi-search"></i>
          <p>No hay talleres que coincidan con los filtros.</p>
        </div>
      </div>

      <div class="card-curso-horizontal" *ngFor="let taller of talleresFiltrados">
        <div class="dropdown admin-dropdown" *ngIf="tokenService.esAdmin">
          <button class="btn-kebab" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu shadow border-0">
            <li><button class="dropdown-item" (click)="abrirEdicion(taller)"><i
                  class="bi bi-pencil me-2 text-primary"></i> Actualizar</button></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item text-danger" (click)="eliminarTaller(taller)"><i
                  class="bi bi-trash me-2"></i> Eliminar</button></li>
          </ul>
        </div>

        <div class="imagen-container">
          <img [src]="taller?.fotoRuta ? '/talleres/' + taller.fotoRuta : '/talleres/taller_default.png'" alt="Portada">
          <div class="badge-profesor">Prof. {{ taller.nombreCompletoProfesor }}</div>
        </div>

        <div class="contenido-curso">
          <div class="cuerpo-superior">
            <div class="periodo-curso">
              <span>
                <i class="bi bi-calendar-range"></i>
                {{ taller.fechaInicio | date:'dd MMM' }} - {{ taller.fechaFin | date:'dd MMM, yyyy' }}
              </span>
              <button type="button" class="btn-ver-horario" (click)="verHorarios(taller)">
                <i class="bi bi-clock"></i> Ver Horarios
              </button>
            </div>
            <h3 class="titulo-curso">{{ taller.nombre }}</h3>
            <p class="descripcion-curso">{{ taller.descripcion }}</p>
          </div>

          <div class="footer-curso">
            <div class="precio-inscripcion">
              <div class="detalles-tecnicos">
                <span [class.sin-plazas]="taller.plazasDisponibles === 0">
                  <i class="bi bi-people"></i> {{ taller.plazasDisponibles }} de {{ taller.plazasMaximas }} plazas
                </span>
              </div>

              <div class="accion-compra">
                <span class="moneda">{{ taller.precio }}€</span>
                <button class="btn-inscripcion"
                  [disabled]="taller.plazasDisponibles === 0 || estaInscrito(taller.nombre) || !esAlumno || tallerFinalizado(taller.fechaFin)"
                  [class.ya-inscrito]="estaInscrito(taller.nombre)"
                  [class.finalizado]="tallerFinalizado(taller.fechaFin)"
                  (click)="(!estaInscrito(taller.nombre) && esAlumno && !tallerFinalizado(taller.fechaFin)) ? abrirInscripcion(taller) : null">

                  <ng-container *ngIf="estaInscrito(taller.nombre)">
                    <i class="bi bi-check-circle-fill"></i> Ya inscrito
                  </ng-container>

                  <ng-container *ngIf="!estaInscrito(taller.nombre)">
                    <span *ngIf="tallerFinalizado(taller.fechaFin)">Finalizado</span>

                    <span *ngIf="!tallerFinalizado(taller.fechaFin) && !esAlumno && taller.plazasDisponibles > 0">
                      Solo Alumnos
                    </span>

                    <span *ngIf="!tallerFinalizado(taller.fechaFin) && (esAlumno || taller.plazasDisponibles === 0)">
                      {{ taller.plazasDisponibles > 0 ? 'Inscribirme' : 'Agotado' }}
                    </span>
                  </ng-container>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<app-form-taller *ngIf="mostrarModalForm" [tallerParaEditar]="tallerSeleccionado" [profesores]="profesores"
  (cerrar)="mostrarModalForm = false" (guardado)="guardarCambios($event)">
</app-form-taller>
<app-form-inscripcion *ngIf="mostrarModalInscripcion" [tallerParaInscribir]="tallerSeleccionado"
  (cerrar)="mostrarModalInscripcion = false" (guardado)="finalizarInscripcion($event)"></app-form-inscripcion>
<app-horario-taller *ngIf="mostrarModalHorarios && tallerSeleccionado" [idTaller]="tallerSeleccionado.idTaller"
  [nombreTaller]="tallerSeleccionado.nombre" (cerrar)="mostrarModalHorarios = false"></app-horario-taller>
<app-confirmacion></app-confirmacion>
<app-modal-notificacion></app-modal-notificacion>
<app-footer></app-footer>