<div class="contenedor-login">
  <div class="card tarjeta-login border-0 overflow-hidden">
    <div class="row g-0">

      <div class="col-md-6 bg-white d-flex align-items-center">
        <div class="card-body p-4 p-lg-5">
          
          <div class="text-center mb-4">
            <h1 class="titulo-recuperacion">Recuperar acceso</h1>
            <p class="text-muted small">Introduce tu email y te enviaremos las instrucciones.</p>
          </div>

          <div *ngIf="enviado" class="alert-success-custom animate-fade-in">
            <i class="bi bi-info-circle-fill me-2"></i>
            <div>
              <strong>¡Solicitud procesada!</strong><br>
              Si el correo existe, recibirás el correo en breve.
            </div>
          </div>

          <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
            
            <div class="mb-4">
              <label class="form-label label-personalizada">CORREO ELECTRÓNICO</label>
              <div class="input-group custom-focus" 
                   [class.is-invalid]="recoveryForm.get('email')?.touched && recoveryForm.get('email')?.invalid">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input type="email" formControlName="email" class="form-control" placeholder="tu@email.com">
              </div>
              <div class="text-danger-custom" *ngIf="recoveryForm.get('email')?.touched && recoveryForm.get('email')?.invalid">
                El formato del correo no es válido.
              </div>
            </div>

            <button type="submit" class="btn btn-primary shadow-sm" [disabled]="loading || enviado">
              <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
              {{ enviado ? 'CORREO ENVIADO' : (loading ? 'PROCESANDO...' : 'ENVIAR CORREO DE RECUPERACIÓN') }}
            </button>

            <div class="divisor-footer">
              <a [routerLink]="['/login']" class="enlace-olvido small text-decoration-none fw-bold">
                <i class="bi bi-arrow-left"></i> Volver al inicio
              </a>
            </div>
          </form>

        </div>
      </div>

      <div class="col-md-6 d-none d-md-flex seccion-derecha-imagen align-items-center justify-content-center">
        <img src="icons/Logo.png" class="logo-sobre-imagen" alt="Logo Aula Viva">
      </div>

    </div>
  </div>
</div>